
/* http://commons.wikimedia.org/wiki/File:Throbber_allbackgrounds_cyanblue.gif */
.jlq-body-loading, .jlq-loading {
  cursor: progress;
}
.jlq-loading {
  border: 1px solid #bbb;
  padding: 8px;
  font-size: 1.3em;
}
.jlq-loading > i {
  display: inline-block;
  vertical-align: middle;
  width:  40px;
  height: 20px;
  background: url(
//upload.wikimedia.org/wikipedia/commons/5/5e/Throbber_allbackgrounds_cyanblue.gif
    ) no-repeat center;
}

.wp-admin .slickQuiz .jlq-scaffold-wrap h4 {
  margin: 12px 0 0;
}
.jlq-stumbles-wrap, .jlq-scaffold-wrap {
  float: left;
  width: 20%;
  x-border: 1px solid #ccc;
  margin-bottom: 1em;
  min-height: 120px;
}
.jlq-scaffold-wrap {
  float: right;
  width: 79%;
}
.jlq-clear, .slickQuiz .question.correct {
  clear: both;
}

.wp-admin .slickQuiz .quizFormWrapper small.desc {
  font-size: .95em;
  color: #888;
  margin-bottom: 10px;
}


/* TODO: Taxonomy tool.
*/
.JL-Quiz-Stumbles .dummy {
  text-align: center;
  font-size: 1.1em;
  color: #777;
}
.jlq-scaffold-inner {
  border: 1px solid #bbb;
  background: #fafafa;
  padding: 1px 8px;
  margin-right: 11px;
  min-height: 4em;
}
.jlq-scaffold-inner h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin: .3em 0;
}
.jlq-scaffold-inner .tax .lbl:after {
  display: inline-block;
  content: ": ";
}
.X__jlq-scaffold-inner .tax .dsc:after {
  display: inline-block;
  content: ". ";
}

.wp-admin .slickQuiz .jlq-scaffold-wrap .tax .lbl {
  font-weight: bold;
}
.wp-admin .slickQuiz .jlq-scaffold-wrap .tax .dsc {
  display: block;
  margin-bottom: 4px;
  color: #777;
}
.wp-admin .slickQuiz .jlq-scaffold-wrap .tax .prmt {
  color: #333;
}
.wp-admin .slickQuiz .jlq-scaffold-wrap .tax li {
  margin-bottom: 0;
}


/* Tweak SlickQuiz styles - reduce scrolling!
*/
.slickQuiz .quizFormWrapper .question {
  padding: 0 0 11px 0; /*0 0 20px 0*/
}
.slickQuiz .quizFormWrapper textarea {
  height: 3.7em; /*100px*/
  font-size: 1.1em;
  line-height: 1.3em;
}
.slickQuiz .quizFormWrapper .questionSet textarea {
  height: 1.8em; /*50px*/
}
.slickQuiz .quizFormWrapper .questionSet .actual textarea {
  height: 3.3em;
}

.wp-admin .slickQuiz .quizFormWrapper .answer input[type=text] {
  font-size: 1.1em !important;
}


/*Quiz list: {WP}/wp-admin/admin.php?page=slickquiz
  {WP}/wp-includes/css/dashicons.css;
*/
.wp-admin .slickQuiz .table_score a.jlq-v,
.wp-admin .slickQuiz .table_scores a.jlq-v,
.wp-admin .slickQuiz .table_name a[href *= embed] {
  font-size: .9em;
  color: #D54E22; /*orange*/
}
.wp-admin .slickQuiz .table_name a[href *= embed]:before {
  content: "<>";
  font: 1.1em Consolas,monospace;
  x-content:"\f328"; /*.dashicons-smiley*/
  x-font-family: "dashicons";
}
.wp-admin .slickQuiz .table_score a.jlq-v:before,
.wp-admin .slickQuiz .table_scores a.jlq-v:before {
  content: "\f185"; /*.dashicons-chart-bar*/
  font-family: "dashicons";
  padding-right: 2px;
}
.wp-admin .slickQuiz .table_scores .jlq-nn {
  display: inline-block;
  min-width: 1.2em;
  text-align: right;
}

/* Accessibility.
*/
.wp-admin .slickQuiz .table_scores .jlq-nn i, .offscreen {
  display: block;
  position: absolute;
  top: -999px;
}
